<div class="sign-up">
  <h2>Sign up for an account</h2>

  <form>
    <input
      type="text"
      placeholder="FULL NAME"
      name="fullname"
      [(ngModel)]="fullname"
    />
    <input type="email" placeholder="EMAIL" name="email" [(ngModel)]="email" />
    <input
      type="password"
      placeholder="PASSWORD"
      name="password"
      required
      [(ngModel)]="password"
    />
    <button (click)="addUserDetails()">Sign Up</button>
  </form>
  <br />
  <button class="google-button">Sign Up with Google</button>
  <p>
    Already have an account?
    <a routerLink="../login">Login</a>
  </p>
</div>
