<div class="login-component">
  <!-- <app-sign-up-page></app-sign-up-page> -->
  <app-login-page></app-login-page>
</div>

<!-- Username:
<input type="text" name="username" [(ngModel)]="username" /><br /><br />
Password:
<input type="password" name="password" [(ngModel)]="password" /><br /><br />
Name: <input type="name" name="name" [(ngModel)]="name" /><br /><br />
Email: <input type="email" name="email" [(ngModel)]="email" /><br /><br />
Language:
<input type="text" name="lanugage" [(ngModel)]="lanugage" /><br /><br />
Bio: <input type="text" name="bio" [(ngModel)]="bio" /><br /><br />

<button (click)="getUserByEmail()">Get User Details</button><br /><br />

<button (click)="addUserDetails()">Add User Details</button><br /><br />
<button (click)="deleteUserByUsername()">Delete User Details</button> -->
